@font-face {
    font-family: Poppins-Regular;
    src: url('./fonts/poppins/Poppins-Regular.ttf'); 
}
  
@font-face {
    font-family: Poppins-Bold;
    src: url('./fonts/poppins/Poppins-Bold.ttf'); 
}
  
@font-face {
    font-family: Poppins-Medium;
    src: url('./fonts/poppins/Poppins-Medium.ttf'); 
}
  
@font-face {
    font-family: Montserrat-Bold;
    src: url('./fonts/montserrat/Montserrat-Bold.ttf'); 
}

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* nema skrola */
    display: flex;
    flex-direction: column;
}

.a-header,.a-footer {
    text-decoration: none;
    font-size: 1.3em;
    color: #fff !important;
}
  
.a-header:hover {
    text-decoration: none;
    color: #13b1cd !important;
}
  
.Navbar {
    width: 96%;
    font-size: 11.5pt;
    font-family: Playfair;
}

@media(max-width: 54em) {
    .logo-img-new {
        display: inline;
    }
  
    #logo-new {
        height: 2.2em;
        width:auto;
    }
  
    .Navbar {
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(102,102,102,0);
        display: flex;
        padding: 16px;
        font-family: sans-serif;
        color: black;
    }
  
    .Navbar__Link {
       white-space: nowrap;
    }
  
    .Navbar__Items {
        display: flex;
        text-align: center;
    }
  
    .Navbar__Items, .Navbar {
        flex-direction: column;
    }
  
    .Navbar__Items {
        display:none;
        color: black;
    }
    .Navbar__ToggleShow {
        display: flex;
    }
  
    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}

@media(min-width: 54.1em) {
    .Navbar {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 16px;
        width: 100%;
        position: absolute;
        background-color: rgba(102,102,102,0);
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
    }
  
    .logo-img-new {
        display: inline;
    }
  
    #logo-new {
        height: 2.2em;
        width: auto;
    }
  
    .Navbar__Link-toggle {
        display: none;
    }
  
    .Navbar__Items {
    display: flex;
    justify-content: flex-end; 
    gap: 60px;                  
    }

    .Navbar__Link {
    white-space: nowrap;        
    }
}

.active {
    background-color: #cecece !important;
    color: black !important;
}
.active .a-header {
    color: black !important;
}

.limiter {
    flex: 1; /* zauzima prostor između navbara i footera */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* nema unutrašnjeg skrola */
}

.container-login {
    width: 100%;
    height: 100%; /* umesto min-height: 100vh */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-135deg, #2383d1, #4158d0);
}

.wrap-login {
    width: 100%;
    max-width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    box-sizing: border-box;
    margin-top: 30px;
}

input, textarea {
    outline: none;
    border: none;
}

.login-pic {
    width: 100%;
    max-width: 316px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
  
.login-pic img {
    max-width: 100%;
}

.login-form {
    width: 100%;
    max-width: 290px;
}
  
.login-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}
  
.input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.symbol-input100 {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
}

.container-login-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
  
.login-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}
  
.login-form-btn:hover {
    background: #333333;
}

button {
    border: none;
    background: transparent;
}
button:hover {
    cursor: pointer;
}

.txt-2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}
.txt-2:hover {
    text-decoration: none;
    color: #57b846;
}

#logo {
    width: 8em;
    height: 6em;
    transition: -webkit-transform 0.25s ease;
}
#logo:active {
    -webkit-transform: scale(5);
}

.connectivity {
    padding: 0.4;
}
.connectivity .a-footer {
    text-decoration: none;
    color: #cecece !important;
}
.connectivity .a-footer:hover {
    text-decoration: none;
    color: #13b1cd !important;
}

.connect {
    display: inline;
}
.foot {
    width: 85%;
}

@media(max-width: 54em) {
    .foot {
        padding: 2em;
        width:100%;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-content: center;
    }
    .connectivity {
        display: inline;
    }
    .connect {
        display: inline;
    }
    .padd__needed {
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 54.1em) {
    .foot {
        padding: 2em;
        width:100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .connectivity {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
}

#logo {
    height: 1.2em;
    width: auto;
}
